.profile {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  margin: 0 auto;
}

.profile-effect {
  margin-right: 10px;
  margin-top: 45px;
  margin-bottom: 43px;
  background: #EDF7FA;
  border-radius: 50%;

}

.profile__img {
  
  position: absolute;
  width: 170.86px;
  height: 170.86px;
  left: 100.52px;
  top: 83px;
  border-radius: 50%;

  background: url(profile-effect.svg);
  
}

.profile__text-h1 {
  font-weight: 700;
  font-size: 30px;
  text-align: center;

  margin-bottom: 33px;
}

.profile__text-h2 {
  font-weight: 400;
  font-size: 16px;

  text-align: center;

  margin-bottom: 33px;
}

.profile__button {
  width: 208px;
  height: 47px;

  border: none;
  border-radius: 3px;
  background-color: var(--red);

  font-size: 19px;
  font-weight: 500;
  color: var(--foreground-color);

  margin-bottom: 28px;
}
